@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --primary-color:#e6de74;
    --secondary-color:brown;
}
.background{
    background-color:var(--primary-color);
    border-radius: 10px;
    width: 50%;
    padding: 10px; 
    
    
}
body{
    
    /* margin: auto; */
    text-align: center;
}
.heading{
    /* font-family: 'Montserrat' ;
    font-weight: 800; */
    font-size: xx-large;
    margin: auto;
    margin-top: 2rem;
    /* margin: 2rem; */
    
}
.small-heading{
    font-family: 'Montserrat' ;
    font-weight: 800;
    font-size: larger;
    
}
#textarea{
    border: 3px solid black;
    height: 6rem;
    width: 48%;
    padding: 1rem;
    margin: 1rem;
}
.output{
    border: 3px solid black;
    height: 6rem;
    width: 48%;
    padding: 1rem;
    margin: 1rem;
    display:inline-block; 
    overflow: hidden;
    /* scroll-behavior: smooth; */
}



